body{
	 box-sizing:border-box;
	 padding:0;
	 margin:0;
	 background-color:black;
 }
 .showcase{
	float:left;
	background:url("sbird.jpg");
	width:54%;
	height:90%;

 }
 .bottom{
	 float:left;
	 color:white;
 }
 .bottom h5{

	 word-spacing:4px;
 }
 .left{
	float:right-top;
	width:40%
	padding:50px 30px;
 }
 .left i{
	color:white;
	padding:100px 50px;
 }
 .left h1{
	margin-top: 2px;
	text-align:center;
	font-size:70px;
	margin-left:50px;
	word-spacing:4px;
	font-family:"lato",sans-serif;
	white-space:inherit;
	color:white;
	padding:1px 50px;
 }
 .left h2{
	align-items:flex-start;
	text-align:center;
	font-size:25px;
	margin-left:100px;
	word-spacing:2px;
	font-family:"lato",sans-serif;
	white-space:inherit;
	color:white;
	padding:3px 350px;
 }
 .sign{
	float: center;
	display:inline-block;
	width:25%;
	padding:5px 50px;
 }
 .sign a{
	padding: 15px 0px;
	height:1.3ren;
	border:0;
	background-color:#1da1f2;
	border-radius:50px;
	font-weight:bold;
	text-decoration:none;
	color:white;
	text-align:center;
	display:block;
	font-family:'lato',sans-serif;
 }
 .sign a:hover{
	 background-color:#0475ba;
	 transition:.15s ease-in-out;
 }
 .log{
	float:center;
	display:inline-block;
	width:25%;
	padding:5px 50px;
 }
 .log a{
	padding: 15px 0px;
	height:1.3ren;
	border:0;
	background-color:black;
	border: 1px solid #1da1f2;
	border-radius:50px;
	font-weight:bold;
	text-decoration:none;
	color:#1da1f2;
	text-align:center;
	display:block;
	font-family:'lato',sans-serif;
 }
 .bottom{
	 color:white;
	 }
 .bottom h5{

	 margin-top:30px;
	 word-spacing:8px;
  }
 
	